<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Lic!</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
</head>
<body>
	<div id="container">
		<div id="busyOverlay" :class="{hidden: busyText === ''}" v-cloak>
			<!--<div id="busyText">{{busyText}}<div id="spinner"></div></div>-->
			<div id="busyContainer">
				<div class="busyText">{{busyText}}</div>
				<div class="progress">
					<div id="progressbar" class="progress-bar" role="progressbar" style="width: 0%">0%</div>
				</div>
			</div>
		</div>

		<nav-menu :menu-entry-list="navBarContent" :filename="{name: filename, isDirty}" :version="version" :key="menuUpdateState"></nav-menu>

		<div class="mainBody" @click="globalClick($event)" @contextmenu.stop.prevent="rightClick($event)">

			<div id="leftPane" class="split split-horizontal">
				<div id="tree">
					<tree :tree-data="treeData" :current-item="selectedItemLookup"></tree>
				</div>
			</div>

			<div id="rightPane" class="split split-horizontal">
				<div id="pageContainer" :style="{width: pageSize.width + 'px', height: pageSize.height + 'px'}">
					<canvas id="pageCanvas" :width="pageSize.width" :height="pageSize.height"></canvas>
					<div id="highlight" :style="highlightStyle"></div>
				</div>
			</div>

		</div>
		<!-- need tabindex, onblur and onclick to hide menu if click on top nav bar or inside menu itself -->
		<div id="contextMenu" class="dropdown" tabindex="-1" @blur="closeContextMenu" @click="closeContextMenu">
			<menu-list :menu-entries="contextMenu" ref="contextMenuComponent"></menu-list>
		</div>

		<component :is="currentDialog" ref="currentDialog"></component>

		<div id="statusBar" v-cloak >{{statusText}}</div>
		<div id="offscreenCache" class="offscreen">
			<input type="file" name="openFileChooser" id="openFileChooser" accept=".lic" @change="triggerOpenFile($event)" style="display: none;">
			<input type="file" name="uploadModelChooser" id="uploadModelChooser" accept=".ldr, .mpd" @change="triggerModelImport($event)" style="display: none;">
			<svg xmlns="http://www.w3.org/2000/svg">
				<text id="fontMeasureContainer">gW</text>
			</svg>
			<canvas id="generateImagesCanvas"></canvas>
			<div id="canvasHolder"></div>
		</div>
	</div>

	<!-- Component Templates -->

	<script type="text/x-template" id="navMenuTemplate">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li v-for="menu in menuEntryList" :id="menu.id || menu.name | sanitizeMenuID" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menu.name}} <span class="caret"></span></a>
					<menu-list :menu-entries="menu.children"></menu-list>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<template v-if="filename && filename.name">
					<li><span id="filename" class="navbar-text">{{filename.name + (filename.isDirty ? ' *' : '')}}</span></li>
					<li><span class="navbar-text">|</span></li>
				</template>
				<li><a href="http://bugeyedmonkeys.com" target="_blank">Web Lic {{version}}</a></li>
			</ul>
		</nav>
	</script>

	<script type="text/x-template" id="menuTemplate">
		<ul class="dropdown-menu">
			<li v-for="entry in menuEntries" :id="entry.id || entry.text | sanitizeMenuID" v-if="entry.shown ? entry.shown() : hasVisibleChildren(entry)"
					:class="{divider: entry.text == 'separator', 'dropdown-submenu': entry.children, disabled: entry.enabled ? !entry.enabled() : false}">
				<a v-if="entry.text !== 'separator'" @click="entry.children ? toggleSubMenu($event) : entry.cb.call(entry, $event)" class="clickable" data-toggle="dropdown">
					<span class="menu-text">{{resolveProperty(entry.text)}}</span>
					<span class="menu-text shortcut" v-if="entry.shortcut">{{entry.shortcut | prettyPrint}}</span>
				</a>
				<ul v-if="entry.children" class="dropdown-menu">
					<li v-for="child in resolveProperty(entry.children)" v-if="child.shown ? child.shown() : true"><a @click="child.cb.call(child, $event)" class="clickable">{{child.text}}</a></li>
				</ul>
			</li>
		</ul>
	</script>

	<script type="text/x-template" id="treeRowTemplate">
		<span :id="`treeRow_${target.type}_${target.id}`" :class="['clickable', 'treeText', {selected: selected}]" @click.stop.prevent="itemClick">{{text}}</span>
	</script>

	<script type="text/x-template" id="treeParentRowTemplate">
		<div :id="`treeParent_${target.type}_${target.id}`">
			<i :class="['treeIcon', {treeIconClosed: !expanded}]" @click.stop.prevent="arrowClick" />
			<treeRow :currentItem="currentItem" :target="target" :selectionCallback="treeData.selectionCallback" />
			<ul :class="['treeChildren', 'indent', {hidden: !expanded}]">
				<li v-if="target.numberLabel != null">
					<treeRow :currentItem="currentItem" :target="treeData.store.get.numberLabel(target)" :selectionCallback="treeData.selectionCallback" />
				</li>
				<template v-if="target.labels != null">
					<li v-for="labelID in target.labels">
						<treeRow :currentItem="currentItem" :target="treeData.store.get.label(labelID)" :selectionCallback="treeData.selectionCallback" />
					</li>
				</template>
				<template v-if="target.steps != null">
					<li v-for="step in this.target.steps.map(id => treeData.store.get.step(id))" class="unindent">
						<treeParentRow :tree-data="treeData" :currentItem="currentItem" :target="step" />
					</li>
				</template>
				<li v-if="target.csiID != null">
					<treeRow :currentItem="currentItem" :target="treeData.store.get.csi(target.csiID)" :selectionCallback="treeData.selectionCallback" />
				</li>
				<li v-if="target.pliID != null && treeData.store.state.plisVisible" class="unindent">
					<treeParentRow :tree-data="treeData" :currentItem="currentItem" :target="treeData.store.get.pli(target.pliID)" />
				</li>
				<template v-if="target.pliItems != null">
					<li v-for="pliItem in target.pliItems.map(id => treeData.store.get.pliItem(id))">
						<treeRow :currentItem="currentItem" :target="pliItem" :selectionCallback="treeData.selectionCallback" />
					</li>
				</template>
				<template v-if="target.callouts != null">
					<li v-for="calloutID in target.callouts">
						<treeParentRow :tree-data="treeData" :currentItem="currentItem" :target="treeData.store.get.callout(calloutID)" />
					</li>
				</template>
			</ul>
		</div>
	</script>

	<script type="text/x-template" id="treeTemplate">
		<ul>
			<li v-if="treeData.store.get.titlePage() != null">
				<treeParentRow :tree-data="treeData" :currentItem="currentItem" :target="treeData.store.get.titlePage()" />
			</li>
			<li v-for="page in treeData.store.state.pages">
				<treeParentRow :tree-data="treeData" :currentItem="currentItem" :target="page" />
			</li>
		</ul>
	</script>

	<script type="text/x-template" id="baseDialogTemplate">
		<div id="dialogContainer" class="modal mini-modal" tabindex="-1" role="dialog" :style="{left: position.x + 'px', top: position.y + 'px'}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<slot name="header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{title}}</h4>
						</slot>
					</div>
					<div class="modal-body">
						<slot name="body">Dialog Body</slot>
					</div>
					<div class="modal-footer">
						<slot name="footer">
							<slot name="buttons"></slot>
							<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="cancel">{{cancelButtonText}}</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="ok">{{okButtonText}}</button>
						</slot>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="partDisplacementDialogTemplate">
		<baseDialog title="Displace Part" okButtonText="Apply">
			<div slot="body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label  class="col-sm-3 control-label" for="inputPartDistance">Part Distance</label>
						<div class="col-sm-2">
							<input v-model.number="partDistance" v-on:input="updateValues" type="number" class="form-control" id="inputPartDistance"/>
						</div>
						<label  class="col-sm-3 control-label" for="inputArrowDistance">Arrow Distance</label>
						<div class="col-sm-2">
							<input v-model.number="arrowOffset" v-on:input="updateValues" type="number" class="form-control" id="inputArrowDistance"/>
						</div>
					</div>
				</form>
			</div>
		</baseDialog>
	</script>

	<script type="text/x-template" id="rowColLayoutTemplate">
		<baseDialog title="Layout Page by Rows and Columns" okButtonText="Apply">
			<div slot="body">
				<form class="form-horizontal" role="form">
					<div class="form-group container-fluid">
						<div class="row">
							<label  class="col-sm-2 control-label" for="rowsInLayout">Rows</label>
							<div class="col-sm-2">
								<input v-model.number="rows" v-on:input="updateValues" type="number" class="form-control" id="rowsInLayout"/>
							</div>
							<label  class="col-sm-2 control-label" for="colsInLayout">Columns</label>
							<div class="col-sm-2">
								<input v-model.number="cols" v-on:input="updateValues" type="number" class="form-control" id="colsInLayout"/>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-4 radio-inline">
								<input v-model="direction" v-on:change="updateValues" type="radio" name="inlineRadioOptions" id="directionHorizontal" value="horizontal">Horizontal
							</label>
							<label class="col-sm-4 radio-inline">
								<input v-model="direction" v-on:change="updateValues" type="radio" name="inlineRadioOptions" id="directionVertical" value="vertical">Vertical
							</label>
						</div>
					</div>
				</form>
			</div>
		</baseDialog>
	</script>

	<script type="text/javascript" src="dist/bundle.js"></script>

</body>
</html>
