<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Lic!</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/three.js-master/build/three.js"></script>
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/split.js"></script>
    <script type="text/javascript" src="lib/jspdf.js"></script>
	<script type="text/javascript" src="lib/THREE.MeshLine.js"></script>
	<script type="text/javascript" src="lib/three.js-master/examples/js/controls/OrbitControls.js"></script>
    <script type="text/javascript" src="lib/FileSaver.js"></script>
    <script type="text/javascript" src="lib/jszip.js"></script>
	<script type="text/javascript" src="src/LDParse.js"></script>
	<script type="text/javascript" src="src/LDRender.js"></script>
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li v-for="menu in menuEntries" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menu.name}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li v-for="child in menu.children" :class="{divider: child.text == 'separator', disabled: child.disabled ? child.disabled() : false}">
							<a v-if="child.text !== 'separator'" v-on:click="child.cb($event)" class="clickable">{{child.text}}</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://bugeyedmonkeys.com" target="_blank">Web Lic 0.1</a></li>
			</ul>
		</nav>
		<div class="mainBody" v-on:click="globalClick($event)" v-on:contextmenu.stop.prevent="rightClick($event)">
			<div id="leftPane" class="split split-horizontal">
				<ul>
					<li v-for="page in pages" :class="['clickable', {selected: page.id === currentPageID}]" v-on:click.stop.prevent="setCurrentPage(page.id)">{{page.number == null ? 'Title Page' : 'Page ' + page.number}}</li>
				</ul>
			</div>
			<div id="rightPane" class="split split-horizontal">
				<div class="pageContainer">
					<canvas id="pageCanvas" :width="pageWidth" :height="pageHeight" style="position: absolute"></canvas>
					<div id="highlight" :style="highlightStyle"></div>
				</div>
			</div>
		</div>
		<!-- need tabindex, onblur and onclick to hide menu if click on top nav bar or inside menu itself -->
		<div id="contextMenu" class="dropdown" tabindex="-1" v-on:blur="closeMenu" v-on:click="closeMenu">
			<ul class="dropdown-menu">
				<li v-for="menu in contextMenu" v-if="menu.enabled ? menu.enabled() : true" :class="{divider: menu.text == 'separator'}">
					<a v-if="menu.text !== 'separator'" v-on:click="menu.cb($event)" class="clickable">{{menu.text}}</a>
				</li>
			</ul>
		</div>
		<div id="statusBar">{{statusText}}</div>
	</div>
	<div id="offscreenCache" style="position: absolute; left: -1000px; top: -1000px;">
		<input type="file" name="fileUploader" id="fileUploader" style="display: none;">
		<svg xmlns="http://www.w3.org/2000/svg">
			<text id="fontMeasureContainer">gW</text>
		</svg>
		<canvas id="generateImagesCanvas"></canvas>
		<div id="canvasHolder"></div>
	</div>
	<script type="text/javascript" src="src/lic_w.js"></script>
</body>
</html>
