<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Lic!</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/bootstrap.js"></script>
	<script type="text/javascript" src="lib/three.js"></script>
	<script type="text/javascript" src="lib/vue.js"></script>
	<script type="text/javascript" src="lib/split.js"></script>
	<script type="text/javascript" src="lib/jspdf.js"></script>
	<script type="text/javascript" src="lib/THREE.MeshLine.js"></script>
	<script type="text/javascript" src="lib/OrbitControls.js"></script>
	<script type="text/javascript" src="lib/FileSaver.js"></script>
	<script type="text/javascript" src="lib/jszip.js"></script>
	<script type="text/javascript" src="src/LDParse.js"></script>
	<script type="text/javascript" src="src/LDRender.js"></script>
	<script type="text/javascript" src="src/util.js"></script>
	<script type="text/javascript" src="src/store.js"></script>
	<script type="text/javascript" src="src/UndoStack.js"></script>
	<script type="text/javascript" src="src/menu.js"></script>
	<script type="text/javascript" src="src/contextMenu.js"></script>
	<script type="text/javascript" src="src/tree.js"></script>
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li v-for="menu in menuEntries" :id="menu.id || menu.name | sanitizeMenuID" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menu.name}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li v-for="child in menu.children" :id="child.id || child.text | sanitizeMenuID" :class="{divider: child.text == 'separator', disabled: child.enabled ? !child.enabled() : false}">
							<a v-if="child.text !== 'separator'" @click="child.cb($event)" class="clickable">
								<span>{{typeof child.text === 'function' ? child.text() : child.text}}</span>
								<span v-if="child.shortcut">{{child.shortcut}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://bugeyedmonkeys.com" target="_blank">Web Lic 0.1</a></li>
			</ul>
		</nav>
		<div class="mainBody" @click="globalClick($event)" @contextmenu.stop.prevent="rightClick($event)">
			<div id="leftPane" class="split split-horizontal">
				<div id="tree">
					<tree :store="treeData" :current-item="selectedItem"></tree>
				</div>
			</div>
			<div id="rightPane" class="split split-horizontal">
				<canvas id="pageCanvas" :width="pageWidth" :height="pageHeight"></canvas>
				<div id="highlight" :style="highlightStyle"></div>
			</div>
		</div>
		<!-- need tabindex, onblur and onclick to hide menu if click on top nav bar or inside menu itself -->
		<div id="contextMenu" class="dropdown" tabindex="-1" @blur="closeMenu" @click="closeMenu">
			<ul class="dropdown-menu">
				<li v-for="menu in contextMenu" v-if="menu.enabled ? menu.enabled() : true" :class="{divider: menu.text == 'separator'}">
					<a v-if="menu.text !== 'separator'" @click="menu.cb($event)" class="clickable">{{menu.text}}</a>
				</li>
			</ul>
		</div>
		<div id="statusBar">{{statusText}}</div>
		<div id="offscreenCache" style="position: absolute; left: -1000px; top: -1000px;">
			<input type="file" name="openFileChooser" id="openFileChooser" @change="triggerOpenFile($event)" style="display: none;">
			<input type="file" name="uploadModelChooser" id="uploadModelChooser" @change="triggerModelImport($event)" style="display: none;">
			<svg xmlns="http://www.w3.org/2000/svg">
				<text id="fontMeasureContainer">gW</text>
			</svg>
			<canvas id="generateImagesCanvas"></canvas>
			<div id="canvasHolder"></div>
		</div>
	</div>
	<script type="text/javascript" src="src/lic_w.js"></script>
</body>
</html>
