html, body {
	width: 100%;
	height: 100%;
}

div#container {
	width: 100%;
	height: 100%;
}

/* Overwrite Bootstrap stuff */
.navbar {
	margin-bottom: 0px;
	min-height: 38px;
}

.navbar-right {
	margin-right: 0px;
}

.navbar-nav li a {
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu > .disabled > a {
	pointer-events: none;
	color: #bbb;
}

/* Splitter stuff */
.gutter.gutter-horizontal {
	cursor: ew-resize;
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gutter.gutter-horizontal {
	background-color: #777;
}

.split, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
	position: relative;
}

/* Nav Tree */
#tree {
	padding: 10px 5px;
}

.indent {
	margin-left: 40px;
	list-style-type: none;
}

.unindent {
	position: relative;
	left: -20px;
}

.treeIcon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(icons.png);
	background-position: -6px -10px;
}

.treeIconOpen {
	background-position: -38px -8px;
}

.treeText {
	font: 9pt Helvetica;
	white-space:nowrap;
	overflow: hidden;
	position: relative;
	bottom: 4px;
	width: 100%;
	border: 1px dashed #fff;
}

.clickable.selected {
	border: 1px dashed #2eb9ce;
}

.clickable, .selectable {
	cursor: pointer;
}

/* misc Lic stuff */
ul {
	-webkit-padding-start: 0px;
}

.mainBody {
	height: calc(100% - 38px - 25px); /* 38 = height of menu bar, 25 = height of status bar */
}

#leftPane {
	overflow-y: scroll;
}

#rightPane {
	background-color: #bbb;
	width: 100%;
}

#pageCanvas {
    display: block;
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
}

#statusBar {
	background-color: #bbb;
	border-top: 1px solid #333;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 25px;
	padding: 5px 0px 0px 10px;
	font: bold 10pt Helvetica;
}

#contextMenu {
	position: absolute;
	left: 300px;
	top: 50px;
	display: none;
}

#contextMenu > ul {
	display: block;
}

#highlight {  /* Style the border around selected items */
	display: none;
	position: absolute;
	pointer-events:none;
	border: 3px dashed #2eb9ce;
}

.hidden {
	display: none;
}
