<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Lic!</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
	<script type="text/javascript" src="src/LDParse.js"></script>
	<script type="text/javascript" src="src/LDRender.js"></script>
	<script type="text/javascript" src="src/util.js"></script>
	<script type="text/javascript" src="src/store.js"></script>
	<script type="text/javascript" src="src/undoStack.js"></script>
	<script type="text/javascript" src="src/export.js"></script>
	<script type="text/javascript" src="src/menu.js"></script>
	<script type="text/javascript" src="src/contextMenu.js"></script>
	<script type="text/javascript" src="src/tree.js"></script>
</head>
<body>
	<div id="container">
		<div id="busyOverlay" :class="{hidden: busyText === ''}">
			<div id="busyText">{{busyText}}<div id="spinner"></div></div>
		</div>
		<nav-menu :menu-entry-list="navBarContent" :key="menuUpdateState"></nav-menu>
		<div class="mainBody" @click="globalClick($event)" @contextmenu.stop.prevent="rightClick($event)">
			<div id="leftPane" class="split split-horizontal">
				<div id="tree">
					<tree :store="treeData" :current-item="selectedItemLookup" :key="treeUpdateState"></tree>
				</div>
			</div>
			<div id="rightPane" class="split split-horizontal">
				<div id="pageContainer" :style="{width: pageWidth + 'px', height: pageHeight + 'px'}">
					<canvas id="pageCanvas" :width="pageWidth" :height="pageHeight"></canvas>
					<div id="highlight" :style="highlightStyle"></div>
				</div>
			</div>
		</div>
		<!-- need tabindex, onblur and onclick to hide menu if click on top nav bar or inside menu itself -->
		<div id="contextMenu" class="dropdown" tabindex="-1" @blur="closeContextMenu" @click="closeContextMenu">
			<menu-list :menu-entries="contextMenu"></menu-list>
		</div>
		<div id="statusBar">{{statusText}}</div>
		<div id="offscreenCache" class="offscreen">
			<input type="file" name="openFileChooser" id="openFileChooser" accept=".lic" @change="triggerOpenFile($event)" style="display: none;">
			<input type="file" name="uploadModelChooser" id="uploadModelChooser" accept=".ldr, .mpd" @change="triggerModelImport($event)" style="display: none;">
			<svg xmlns="http://www.w3.org/2000/svg">
				<text id="fontMeasureContainer">gW</text>
			</svg>
			<canvas id="generateImagesCanvas"></canvas>
			<div id="canvasHolder"></div>
		</div>
	</div>

	<!-- Component Templates -->

	<script type="text/x-template" id="navMenuTemplate">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li v-for="menu in menuEntryList" :id="menu.id || menu.name | sanitizeMenuID" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menu.name}} <span class="caret"></span></a>
					<menu-list :menu-entries="menu.children"></menu-list>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://bugeyedmonkeys.com" target="_blank">Web Lic 0.1</a></li>
			</ul>
		</nav>
	</script>

	<script type="text/x-template" id="menuTemplate">
		<ul class="dropdown-menu">
			<li v-for="child in menuEntries" :id="child.id || child.text | sanitizeMenuID" v-if="child.shown ? child.shown() : true"
					:class="{divider: child.text == 'separator', 'dropdown-submenu': child.children, disabled: child.enabled ? !child.enabled() : false}">
				<a v-if="child.text !== 'separator'" @click="child.children ? toggleSubMenu($event) : child.cb.call(child, $event)" class="clickable" data-toggle="dropdown">
					<span class="menu-text">{{resolveProperty(child.text)}}</span>
					<span class="menu-text" v-if="child.shortcut">{{child.shortcut}}</span>
				</a>
				<ul v-if="child.children" class="dropdown-menu">
					<li v-for="c in resolveProperty(child.children)" ><a @click="c.cb($event)" class="clickable">{{c.text}}</a></li>
				</ul>
			</li>
		</ul>
	</script>

	<script type="text/x-template" id="treeRowTemplate">
		<span
			:class="[
				'clickable',
				'treeText',
				{selected: target && currentItem && target.id === currentItem.id && target.type === currentItem.type}
			]"
			@click.stop.prevent="itemClick"
		>
			{{text}}
	</span>
	</script>

	<script type="text/x-template" id="treeParentRowTemplate">
		<div>
			<i class="treeIcon treeIconClosed" @click.stop.prevent="arrowClick(target)" />
			<treeRow :currentItem="currentItem" :target="target" />
		</div>
	</script>

	<script type="text/x-template" id="treeTemplate">
		<ul>
			<li v-for="page in store.state.pages">
				<treeParentRow :currentItem="currentItem" :target="page" />
				<ul class="indent hidden">
					<li v-if="page.numberLabel != null">
						<treeRow :currentItem="currentItem" :target="store.get.pageNumber(page.numberLabel)" />
					</li>
					<li v-if="page.labels != null" v-for="labelID in page.labels">
						<treeRow :currentItem="currentItem" :target="store.get.label(labelID)" />
					</li>
					<li class="unindent" v-for="step in page.steps.map(stepID => store.get.step(stepID))">
						<treeParentRow :currentItem="currentItem" :target="step" />
						<ul :id="'stepListItem' + step.id" class="indent hidden">
							<li v-if="step.csiID != null">
								<treeRow :currentItem="currentItem" :target="store.get.csi(step.csiID)" />
							</li>
							<li class="unindent" v-if="step.pliID != null">
								<treeParentRow :currentItem="currentItem" :target="store.get.pli(step.pliID)" />
								<ul :id="'pliListItem' + step.pliID" class="indent hidden">
									<li v-for="pliItemID in store.get.pli(step.pliID).pliItems">
										<treeRow :currentItem="currentItem" :target="store.get.pliItem(pliItemID)" />
									</li>
								</ul>
							</li>
							<li v-if="step.numberLabel != null">
								<treeRow :currentItem="currentItem" :target="store.get.stepNumber(step.numberLabel)" />
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</script>

	<script type="text/javascript" src="src/ui.js"></script>

</body>
</html>
