html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

div#container {
	width: 100%;
	height: 100%;
}

/* TODO: if nav tree is too narrow, menu entries wrap; should put up scroll bar instead */
/* TODO: page layout is broken for facing pages on a small monitor: scroll bar doesn't scroll all the way left */
/* TODO: grid customization dialog is ugly */

/* Overwrite Bootstrap stuff */
.navbar {
	margin-bottom: 0px;
	min-height: 38px;
}

.navbar-right {
	margin-right: 0px;
}

.navbar-nav li > a {
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu > li > a.shortcut-parent {
	position: relative;
	padding-right: 70px;
}

.navbar-text {
	margin: 0px;
	padding: 8px 0px 8px 15px;
}

.menu-text {
	pointer-events: none;
}

.shortcut {
	line-height: 22px;
	position: absolute;
	text-align: right;
	max-width: 60px;
	right: 8px;
	color: #888;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.dropdown-menu > .disabled > a {
	pointer-events: none;
	color: #bbb;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	border-radius: 0 4px 4px 4px;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right:-10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color:#555;
}

.progress {
	margin: 15px 0 0 0;
}

.progress-bar {
	min-width: 3.5em;
	transition: none;
}

.mini-modal > .modal-dialog {
	margin: 0;
}

.form-control {
	box-shadow: unset;
	webkit-box-shadow: unset;
}

/*
.modal-backdrop.in {
	opacity: 0;
}
*/

/* Overwrite Vue Element stuff */

.el-checkbox__input.is-checked+.el-checkbox__label {
	color: #606266;
}

.el-color-picker__trigger, .el-color-picker__mask {
	border-color: #ccc;
	width: 34px;
	height: 34px;
}

.el-button {
	border-color: #ccc;
	padding: 9px 20px;
}

.el-button+.el-button {
	margin-left: unset;
}

.el-color-dropdown__btns > .el-button--mini {
	padding: 7px 15px;
}

.el-color-dropdown__btns > .el-button--text {
	border-color: transparent;
}

.el-button.template-close {
	border: none;
	padding: 0;
}

.el-checkbox__inner, .el-checkbox__inner::after {
	transition: unset;
}

.el-dialog {
	border: 1px solid #333;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.el-dialog__header {
	padding: 20px 20px 15px;
	border-bottom: 1px solid #e5e5e5;
}

.el-dialog__footer {
	padding: 15px 20px 20px;
	border-top: 1px solid #e5e5e5;
}

.el-dialog .el-form-item:last-child {
	margin-bottom: unset;
}

.el-dialog__body {
	padding: 20px;
}

.el-dropdown {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.el-dropdown-menu i {
	float: right;
	margin-left: 12px;
}

.el-input__inner {
	height: 34px;
	border: 1px solid #ccc;
}

.dialog-fade-enter-active {
	animation: unset;
}

.dialog-fade-leave-active {
	animation: unset;
}

.pdfExportDialog input {
	display: inline;
	width: 95px;
	margin: 0 5px;
}

/* Splitter stuff */
.gutter.gutter-horizontal {
	cursor: ew-resize;
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gutter.gutter-horizontal {
	background-color: #777;
}

.split, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
	position: relative;
}

/* Loader overlay */
#busyOverlay {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

#busyContainer {
	display: inline-block;
	position: absolute;
	top: 48%;
	left: 30%;
	right: 30%;
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.busyText {
	font: 18pt Helvetica;
}

#spinner {
	display: inline-block;
	vertical-align: middle;
	border: 7px solid #d5d5d5;
	border-top: 7px solid #3498db;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	animation: spin 1.5s linear infinite;
	margin-left: 20px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.clickable.selected {
	border: 1px dashed #2eb9ce;
}

.clickable, .selectable {
	cursor: pointer;
}

/* misc Lic stuff */
ul {
	-webkit-padding-start: 0px;
}

.mainBody {
	height: calc(100% - 38px - 25px); /* 38 = height of menu bar, 25 = height of status bar */
}

#leftPane {
	overflow-y: auto;
}

#rightPane {
	background-color: #bbb;
	display: flex;
	overflow: hidden;
}

#rightSubPane {
	position: relative;
	height: 100%;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
	line-height: 0;
}

#rightSubPane.singleEntry {
	align-items: center;
}

.oddNumberedPage {
	margin-left: 40px;
}

.multipleEntries {
	margin-top: 30px;
}

.pageContainer {
	position: relative;
	display: inline-block;
}

.pageCanvas {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAABlBMVEX09PT///+farO/AAAAFElEQVQI12NgYPj/n4GKBHVNYwAA7b0/wfSyzYsAAAAASUVORK5CYII=');
	box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
}

.pageGuideContainer {
	position: absolute;
	left: 0px;
	top: 0px;
}

.pageLockIcon {
	z-index: 1;
	position: absolute;
	margin-left: 12px;
	font-size: 0.75em;
	bottom: 4px;
	color: #888;
	pointer-events: none;
}

.pageLockIcon.fa-lock {
	bottom: 25px;
}

.pageLockSwitch {
	position: absolute;
	margin-left: 7px;
	bottom: 10px;
}

/* Rotate Element's switch from horizontal to vertical */
.pageLockSwitch > .el-switch__core {
	width: 20px;
	height: 40px;
	transition: unset;
}

.pageLockSwitch > .el-switch__core:after {
	top: 100%;
	margin-top: -17px;
	transition: unset;
}

.pageLockSwitch.is-checked > .el-switch__core {
	border-color: #84b5e8;
	background-color: #84b5e8;
}

.pageLockSwitch.is-checked > .el-switch__core:after {
	top: 1px;
	margin-top: 0px;
}

#statusBar {
	background-color: #bbb;
	border-top: 1px solid #333;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 25px;
	padding: 5px 0px 0px 10px;
	font: bold 10pt Helvetica;
}

#contextMenu {
	position: absolute;
	left: 300px;
	top: 50px;
	display: none;
}

#contextMenu > ul {
	display: block;
}

[v-cloak] {
	display: none;
}

.hidden {
	display: none;
}

.offscreen {
	position: absolute;
	left: -10000px;
	top: -10000px;
}

/* Template Page Panel */
#templatePanelContainer {
	min-width: 265px;
	width: 265px;
	height: 100%;
	border: 1px solid grey;
	background-color: white;
	overflow: hidden;
	overflow-y: auto;
}

#templatePanelContainer h4 {
	text-align: center;
	font-weight: 600;
	border-bottom: 1px solid #8d8d8d;
	padding-bottom: 10px;
}

.panel-group .panel {
	border-radius: 0;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.panel-template {
	margin-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #8d8d8d;
	border-radius: 0;
}

.panel-template .panel-body {
	padding: 0 0 0 10px;
}

.panel-template h5 {
	font-weight: 600;
	font-size: 16px;
}

.panel-template .form-horizontal .control-label {
	font-weight: 600;
	text-align: left;
}

.panel-template .form-horizontal .col-sm-5 {
	/*padding-left: 0px;	*/
}

.panel-template .btn-secondary {
	min-width: 35px;
	font-weight: 600;
}

.panel-template .btn-secondary strong {
	font-weight: 800;
}

.panel-template .el-form-item {
	margin-bottom: 0px;
}

/* Margin/Padding */

.marginT05 {
	margin-top: 5px;
}
.marginT10 {
	margin-top: 10px;
}
.marginT15 {
	margin-top: 15px;
}
.marginT20 {
	margin-top: 20px;
}
.marginB05 {
	margin-bottom: 5px;
}
.marginB10 {
	margin-bottom: 10px;
}
.marginB15 {
	margin-bottom: 15px;
}
.marginB20 {
	margin-bottom: 20px;
}

.paddingT05 {
	padding-top: 5px;
}
.paddingT10 {
	padding-top: 10px;
}
.paddingT15 {
	padding-top: 15px;
}
.paddingT20 {
	padding-top: 20px;
}
.paddingB05 {
	padding-bottom: 5px;
}
.paddingB10 {
	padding-bottom: 10px;
}
.paddingB15 {
	padding-bottom: 15px;
}
.paddingB20 {
	padding-bottom: 20px;
}
